body {
    margin: 0;
    padding: 0;
}

.titulo1{
    width: 100%;
    height: 80px;
    background: #251D55;
    background: linear-gradient(0deg,rgba(37, 29, 85, 1) 0%, rgba(47, 39, 92, 1) 30%, rgba(90, 81, 133, 1) 70%, rgba(154, 147, 191, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

p {
    text-align: justify;
}

.contenedor {
    display: flex;
}

.titulo-sobre-mi{
    text-align: center;
}

.sobre-mi-lateral {
    height: auto;
    width: 20rem;
    background-color: rgb(37, 29, 85, 30%);
    text-align: justify;
    margin-left: 0.7rem;
    margin-top: 0.7rem;
    border-radius: 1.5rem;
}

.sobre-mi-lateral:hover{
    box-shadow: 0.2rem 0.2rem 20px rgb(0, 0, 0, 3);
}

.sobre-mi-texto {
    height: auto;
    width: 200px;
    padding: 10px;
    text-align: justify;
    margin: 0.5rem;
}

.iconos {
    margin: auto;
    margin-top: 20px;
    width: 40px;
    height: auto;
}

.titulo {
    display: flex;
    justify-content: center;
    color: black;
}

main {
    margin-top: 10px;
    margin-left: 20px;
    padding-right: 2rem;
}
.titulos-main{
    margin-top: 10px;
    background-color: rgb(37, 29, 85);
    color: white;
    width: 30rem;
    padding-left: 15px;
    border-radius: 1.5rem;
}

.columnas {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 1rem;
}

.cursos {
    margin-top: 10px;
    grid-column: 1;
}

.fechas {
    grid-column: 3;
    text-align: right;
}

.apartados {
    display: grid;
    grid-gap: 3rem;
}

.FA {
    grid-column: 1;
}

.Projectos {
    grid-column: 2;
}

.github-link {
    display: block;
}