html {
    scroll-behavior: smooth;
}

:root {
    --color-titulo-principal: #251D55;
    --color-titulo-gradiente: linear-gradient(0deg,rgba(37, 29, 85, 1) 0%, rgba(47, 39, 92, 1) 30%, rgba(90, 81, 133, 1) 70%, rgba(154, 147, 191, 1) 100%);
    --color-fondo-body: #eee;
    --color-blanco: white;
    --color-apartados: rgb(37, 29, 85, 30%);
    --color-negro: black;
    --color-titulos-main: rgb(37, 29, 85);
}

body {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    background: var(--color-fondo-body);
    margin-bottom: 1rem;
}

.contenedor {
    display: flex;
    width: 65%;
    scroll-margin-top: 6rem;
}

* {
    box-sizing: border-box;
}

p {
    text-align: justify;
}

.titulo1{
    width: 70%;
    height: 5rem;
    background: var(--color-titulo-principal);
    background: var(--color-titulo-gradiente);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-blanco);
    border-radius: 1rem;
    margin-top: 0.5rem;
    box-shadow: 0.2rem 0.2rem 20px rgb(0, 0, 0, 3);

    
    position: fixed;
    top: 0;
}

.titulo1 nav {
    position: relative;
}
.submenu-de-enlaces {
    visibility: hidden;
    position: absolute;
    top: 95%;
    background: var(--color-titulo-principal);
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 3.5rem;
    border-radius: 1rem;

    transform: translateX(0) translateY(0);
    opacity: 0;

    transition: transform 0.3s ease, opacity 0.3s ease;
}

.titulo1:hover .submenu-de-enlaces,
.titulo1:focus-within .submenu-de-enlaces {
    opacity: 1;
    visibility: visible;
    transform: translateX(0) translateY(50%);
}

.submenu-de-enlaces a {
    padding: 10px 15px;
    text-decoration: none;
    color: var(--color-blanco);
}

.titulo-sobre-mi{
    text-align: center;
}

.foto-personal {
    margin: auto;
    width: 11rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 1.5rem;
}

.sobre-mi-lateral {
    height: auto;
    background-color: var(--color-apartados);
    text-align: justify;
    margin-right: 0.3rem;
    border-radius: 1.5rem;
    padding-bottom: 1rem;

    grid-column: 1;
}

.sobre-mi-texto {
    height: auto;
    width: 13rem;
    padding: 0.7rem;
    text-align: justify;
    margin: auto;
}

.iconos {
    margin: auto;
    margin-top: 1rem;
    width: 3rem;
    height: auto;
}

.titulo {
    display: flex;
    justify-content: center;
    color: var(--color-negro);
}

main {
    display: grid;
    margin-top: 1rem;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5rem;
}

.apartados {
    display: grid;
    grid-gap: 1.5rem;
    flex-direction: column;
    grid-column: 2 / 4;
}

.titulos-main{
    margin-top: 1rem;
    background-color: var(--color-titulos-main);
    color: var(--color-blanco);
    width: auto;
    padding-left: 1.5rem;
    border-radius: 1.5rem;
    margin-bottom: 1rem;
}

.columnas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}

.cursos {
    grid-column: 1 / 3;
}

.fechas {
    grid-column: 3;
    text-align: right;
}

.FA {
    background-color: var(--color-apartados);
    border-radius: 1rem;
    padding: 0rem 1rem 1rem 1rem;
}

.Projectos {
    background-color: var(--color-apartados);
    border-radius: 1rem;
    padding: 0rem 1rem 1rem 1rem;
    scroll-margin-top: 6rem;
}

.apartados-projectos {
    width: 28rem;
}

.links {
    display: block;
    color: var(--color-negro);
}

.idiomas-skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--color-titulos-main);

}

.apartados-final {
    height: auto;
    width: auto;
    background-color: var(--color-apartados);
    border-radius: 1rem;
    padding: 0rem 1rem 1rem 1rem;
}

.idiomas {
    grid-column: 1;
}

.hard-skills {
    grid-column: 2;
}

.soft-skills {
    grid-column: 3;
}

footer {
    grid-column: 1 / 4;
    background-color: var(--color-apartados);
    border-radius: 1rem;
    padding: 0rem 1rem 1rem 1rem;
}

.interior-formulario {
    margin-top: 1rem;
}

.textarea {
    border-radius: 1rem;
}

/*ANIMACIONES*/

.sobre-mi-lateral:hover{
    box-shadow: 0.2rem 0.2rem 20px rgb(0, 0, 0, 3);
}

.FA:hover {
    box-shadow: 0.2rem 0.2rem 20px rgb(0, 0, 0, 3);
}

.Projectos:hover {
    box-shadow: 0.2rem 0.2rem 20px rgb(0, 0, 0, 3);
}

.apartados-final:hover {
    box-shadow: 0.2rem 0.2rem 20px rgb(0, 0, 0, 3);
}

footer:hover {
    box-shadow: 0.2rem 0.2rem 20px rgb(0, 0, 0, 3);
}




@media (max-width: 600px) {

    .titulo1 {
        width: 95%;
        height: 4rem;
        margin: 0.5rem auto;
        padding: 0 1rem;
        font-size: 0.8rem;
    }
    

    .submenu-de-enlaces {
        flex-direction: column;
        gap: 0;
        top: 0;
        left: 0;
        transform: translateX(0) translateY(-10rem);
    }
}