body {
    height: auto;
    width: 100vw;
}
.titulo1{
    width: auto;
    height: 80px;
    background-color: rgb(37, 29, 85);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.contenedor {
    display: flex;
}

.titulo-sobre-mi{
    text-align: center;
}

.sobre-mi-lateral {
    height: auto;
    width: 200px;
    background-color: rgb(221, 230, 244);
    padding: 10px;
    text-align: justify;
}

.iconos {
    margin: auto;
    margin-top: 20px;
    width: 40px;
    height: auto;
}

.titulo {
    display: flex;
    justify-content: center;
    color: black;
}

main {
    margin-top: 10px;
    margin-left: 20px;
}
.titulos-main{
    margin-top: 10px;
    background-color: rgb(37, 29, 85);
    color: white;
    width: 30rem;
    padding-left: 15px;
}

.columnas {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 1rem;
}

.cursos {
    margin-top: 10px;
    grid-column: 1;
}

.fechas {
    grid-column: 3;
    text-align: right;
}

.apartados {
    display: grid;
    grid-gap: 3rem;
}

.FA {
    grid-column: 1;
}

.Projectos {
    grid-column: 2;
}

p {
    text-align: justify;
}