body {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    background: #eee;
}

.contenedor {
    display: flex;
    width: 65%;
}

* {
    box-sizing: border-box;
}

.titulo1{
    width: 70%;
    height: 80px;
    background: #251D55;
    background: linear-gradient(0deg,rgba(37, 29, 85, 1) 0%, rgba(47, 39, 92, 1) 30%, rgba(90, 81, 133, 1) 70%, rgba(154, 147, 191, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 1rem;
    margin-top: 0.5rem;
    box-shadow: 0.2rem 0.2rem 20px rgb(0, 0, 0, 3);

    
    position: fixed;
    top: 0;
}

p {
    text-align: justify;
}

.titulo-sobre-mi{
    text-align: center;
}

.foto-personal {
    margin: auto;
    width: 11rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 1.5rem;
}

.sobre-mi-lateral {
    height: auto;
    background-color: rgb(37, 29, 85, 30%);
    text-align: justify;
    margin-right: 0.3rem;
    border-radius: 1.5rem;
    padding-bottom: 1rem;

    grid-column: 1;
}

.sobre-mi-lateral:hover{
    box-shadow: 0.2rem 0.2rem 20px rgb(0, 0, 0, 3);
}

.sobre-mi-texto {
    height: auto;
    width: 13rem;
    padding: 0.7rem;
    text-align: justify;
    margin: auto;
}

.iconos {
    margin: auto;
    margin-top: 1rem;
    width: 3rem;
    height: auto;
}

.titulo {
    display: flex;
    justify-content: center;
    color: black;
}

main {
    display: grid;
    margin-top: 1rem;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5rem;
}

.apartados {
    display: grid;
    grid-gap: 1.5rem;
    flex-direction: column;
    grid-column: 2 / 4;
}

.titulos-main{
    margin-top: 1rem;
    background-color: rgb(37, 29, 85);
    color: white;
    width: auto;
    padding-left: 1.5rem;
    border-radius: 1.5rem;
}

.columnas {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 1rem;
}

.cursos {
    margin-top: 1rem;
}

.fechas {
    grid-column: 3;
    text-align: right;
}

.FA {
    background-color: rgb(37, 29, 85, 30%);
    border-radius: 1rem;
    padding: 0rem 1rem 1rem 1rem;
}

.FA:hover {
    box-shadow: 0.2rem 0.2rem 20px rgb(0, 0, 0, 3);
}

.Projectos {
    background-color: rgb(37, 29, 85, 30%);
    border-radius: 1rem;
    padding: 0rem 1rem 1rem 1rem;
}

.Projectos:hover {
    box-shadow: 0.2rem 0.2rem 20px rgb(0, 0, 0, 3);
}

.apartados-projectos {
    width: 28rem;
}

.links {
    display: block;
    color:black;
}

.idiomas-skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(37, 29, 85);

}

.apartados-final {
    height: auto;
    width: auto;
    background-color: rgb(37, 29, 85, 30%);
    border-radius: 1rem;
}
.idiomas {
    grid-column: 1;
}

.hard-skills {
    grid-column: 2;
}

.soft-skills {
    grid-column: 3;
}