body {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    margin-top: 80px;
}

* {
    box-sizing: border-box;
}

.titulo1{
    width: 100%;
    height: 80px;
    background: #251D55;
    background: linear-gradient(0deg,rgba(37, 29, 85, 1) 0%, rgba(47, 39, 92, 1) 30%, rgba(90, 81, 133, 1) 70%, rgba(154, 147, 191, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
    position: fixed;
    top: 0;
}

p {
    text-align: justify;
}

.contenedor {
    display: flex;
}

.titulo-sobre-mi{
    text-align: center;
}

.foto-personal {
    margin: auto;
    width: 10rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1.5rem;
}

.sobre-mi-lateral {
    height: auto;
    width: 20rem;
    background-color: rgb(37, 29, 85, 30%);
    text-align: justify;
    margin: 0.7rem;
    border-radius: 1.5rem;
}

.sobre-mi-lateral:hover{
    box-shadow: 0.2rem 0.2rem 20px rgb(0, 0, 0, 3);
}

.sobre-mi-texto {
    height: auto;
    width: 13rem;
    padding: 0.7rem;
    text-align: justify;
    margin: auto;
}

.iconos {
    margin: auto;
    margin-top: 1rem;
    width: 3rem;
    height: auto;
}

.titulo {
    display: flex;
    justify-content: center;
    color: black;
}

main {
    margin-top: 1rem;
    margin-left: 1rem;
}
.titulos-main{
    margin-top: 1rem;
    background-color: rgb(37, 29, 85);
    color: white;
    width: 19em;
    padding-left: 1.5rem;
    border-radius: 1.5rem;
}

.columnas {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 1rem;
}

.cursos {
    margin-top: 1rem;
    grid-column: 1;
}

.fechas {
    grid-column: 3;
    text-align: right;
}

.apartados {
    display: grid;
    grid-gap: 1.5rem;
}

.FA {
    grid-column: 1;
    background-color: rgb(37, 29, 85, 30%);
    border-radius: 1rem;
    padding: 0rem 1rem 1rem 1rem;
}

.FA:hover {
    box-shadow: 0.2rem 0.2rem 20px rgb(0, 0, 0, 3);
}

.Projectos {
    grid-column: 2;
    margin-right: 1rem;
    background-color: rgb(37, 29, 85, 30%);
    border-radius: 1rem;
    padding: 0rem 1rem 1rem 1rem;
}

.Projectos:hover {
    box-shadow: 0.2rem 0.2rem 20px rgb(0, 0, 0, 3);
}

.apartados-projectos {
    width: 27rem;
}

.github-link {
    display: block;
}

.github-link > .titulo {
    margin-bottom: 1rem;
}