body {
    height: auto;
    width: 100vw;
}
.titulo1{
    width: auto;
    height: 80px;
    background-color: rgb(37, 29, 85);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.contenedor {
    display: flex;
}

.sobre-mi-lateral {
    height: auto;
    width: 200px;
    background-color: rgb(146, 176, 216);
    padding: 10px;
}

.sobre-mi-lateral > div {
    border-radius: 20px;
}

.iconos {
    margin: auto;
    margin-top: 20px;
    width: 40px;
    height: auto;
}

.titulo {
    display: flex;
    justify-content: center;
    color: black;
}

main {
    margin-top: 10px;
    margin-left: 20px;
}
.titulos-main{
    background-color: rgb(37, 29, 85);
    color: white;
}

.columnas {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 1rem;
}

.cursos {
    margin-top: 30px;
}

.fechas {
    grid-column: 3;
    text-align: right;
}

