body {
    height: 100vh;
    width: 100vw;
}
.titulo1{
    width: auto;
    height: 80px;
    background-color: rgb(37, 29, 85);
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo1 > h1{
    color: white;
}

.sobre-mi-lateral {
    height: 600px;
    width: 200px;
    background-color: rgb(146, 176, 216);
    padding: 10px;
}

.sobre-mi-lateral > div {
    border-radius: 20px;
}

.iconos {
    margin: auto;
    margin-top: 20px;
    width: 40px;
    height: auto;
}

.titulo {
    display: flex;
    justify-content: center;
}